name: CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-manager1:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Build binary
        run: |
          mkdir build
          GOOS=linux GOARCH=amd64 go build -o build/app ./cmd

      - name: Upload binary to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "build/app"
          target: "/opt/${{ secrets.SERVICE_NAME }}/"
          overwrite: true

      - name: Restart systemd service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo systemctl daemon-reload
            sudo systemctl restart ${{ secrets.SERVICE_NAME }}
            sudo systemctl status ${{ secrets.SERVICE_NAME }} --no-pager
