name: CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SERVICE_NAME: ${{ secrets.SERVICE_NAME }}
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add remote host to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts

      - name: Sync project to server
        run: |
          rsync -az --delete \
            --exclude '.git' \
            --exclude '.github' \
            ./ "$SSH_USER@$SSH_HOST:/opt/$SERVICE_NAME/"

      - name: Run migrations and restart containers
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          SERVICE_PORT: ${{ secrets.SERVICE_PORT }}
          SERVICE_NAME: ${{ secrets.SERVICE_NAME }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_SSLMODE: ${{ secrets.DB_SSLMODE }}
          TLS_ENABLED: ${{ secrets.TLS_ENABLED }}
        run: |
          ssh "$SSH_USER@$SSH_HOST" "
            set -e
            cd /opt/$SERVICE_NAME

            # логинимся в Docker Hub на СЕРВЕРЕ
            echo \"$DOCKERHUB_TOKEN\" | docker login -u \"$DOCKERHUB_USERNAME\" --password-stdin

            docker compose build
            docker compose up --no-deps migrator
            docker compose up -d --no-deps ${{ secrets.SERVICE_NAME }}
          "
